Xft.dpi:    96
Xft.antialias:  1
Xft.hinting:    1
Xft.hintstyle:  hintmedium

*color0:     #2e3436
*color1:     #a40000
*color2:     #4e9a06
*color3:     #c4a000
*color4:     #3465a4
*color5:     #75507b
*color6:     #34a0a4
*color7:     #babdb9
*color8:     #555753
*color9:     #ef2929
*color10:    #8ae234
*color11:    #fce94f
*color12:    #729fcf
*color13:    #ad7fa8
*color14:    #72d9cf
*color15:    #eeeeec

URxvt.background:  #181818 
URxvt.foreground:  #e4e4ef

URxvt.font: xft:Berkeley Mono Variable:size=11:style=Regular,\
            xft:Jetbrains Mono NF:size=11:style=Regular
URxvt*depth: 32

URxvt.scrollBar: false
